body {
    background-color: #000;
    background-image: url(./background.jpg);
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    color: white;
    font-family: 'Source Sans Pro', Helvetica, Arial, Verdana, sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 48px;
}
h1 {
    font-size: 36px;
}

.page {
    box-sizing: border-box;
    min-height: 80vh
}
.page + .page {
    margin-top: 30px;
}

.footer {
    text-align: center;
}

.scroll-down {
    text-align: center;
}

.page section {
    padding: 20px;
    margin-bottom: 50px;
    max-width: 640px;
    margin: 0 auto;
}

.intake {
    color: black;
    max-width: 640px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 20px;
}

@media only screen and (max-width: 640px) {
    body {
        min-width: 310px;
        padding: 5px;
        font-size: 14px;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    .header {
        margin: 0;
    }
    .intake {
        margin: 0;
    }
}
